<div class="card mb-3 mt-5" *ngFor='let noticia of noticias' ng-repeat="noticia in noticias | orderBy: 'noticia.fecha' :reverse"> 
  <h3 class="card-header">
  	<span>{{noticia.emcabezado}}</span>
    <br>
  </h3>
  <h4 class="card-body">
        <span>{{noticia.fecha | date: 'dd/MM/yyyy'}}</span>
  </h4>
  <img style="height: 50%; width: 50%; display: block; align-self: center"  src="{{noticia.imagenUrl}}" alt="Card image">
  <!--h3 class="card-header">{{noticia.id_user.nombre}}</h3-->
  
  <!--ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div-->
</div>