<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quienessomos">¿Quienes Somos?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oferta">Oferta Academina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noticias">Noticias</a>
      </li>
    </ul>
  </div>
</nav>