<ul class="nav nav-pills flex-column" ngClick = "$event.preventDefault()">
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/asistente" routerLinkActive="active" ngClick = "active = 'asistente'"><i class="fa fa-users fa-lg"></i> Asistente</a>
  </li>
  <li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/agenda" routerLinkActive="active" ngClick = "active = 'agenda'"><i class="fa fa-calendar fa-lg"></i> Agenda</a>
  </li>
  <!--li class="nav-item" style="background-color: #045aa4;">
    <a class="nav-link" style="color: white;" routerLink="/evaluacion" routerLinkActive="active" ngClick = "active = 'evaluacion'"><i class="fa fa-sitemap fa-lg"></i> Evaluacion Docente</a>
  </li-->

</ul>




