 <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
         <h1 class="text-center"> FORMULARIO DE REGISTRO</h1>
          Message: {{message}} 
       <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario()">  
  <div class="form-group col-lg-6">
    <label for="usuario" class="control-label required">Nombre de Usuario </label>
    <input type="text" formControlName="nombreuser_aspirante" id="nombreuser_aspirante" class="form-control" aria-describedby="apellidosHelp" placeholder="Ingrese su nombre de usuario"  [ngClass]="{ 'is-invalid': submitted && f.nombreuser_aspirante.errors }" >
    <small id="apellidosHelp" class="form-text text-muted">ejemplo: Pérez</small>
    <div *ngIf="submitted && f.nombreuser_aspirante.errors" class="invalid-feedback">
      <div *ngIf="f.nombreuser_aspirante.errors.required">los nombre de usuario son datos requeridos</div>
      <div *ngIf="f.nombreuser_aspirante.errors.pattern"> los nombre de usuario deben contener solo letras</div>
    </div>
  </div>

       <div class="form-group  col-lg-12">
          <div  class="required">
          <label for="usuario" class="control-label required">Nombres</label> </div>
          <input type="text" formControlName="nombreAsp" class="form-control" placeholder="Ingrese sus nombres" [ngClass]="{ 'is-invalid': submitted && f.nombreAsp.errors }" required/>
        <!--  <input type="text" formControlName="nombre_aspirante" id="nombres" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese sus nombres" [ngClass]="{ 'is-invalid': submitted && f.nombre_aspirante.errors }" > -->
          <small id="nombreHelp" class="form-text text-muted"></small>
          <div *ngIf="submitted && f.nombreAsp.errors" class="invalid-feedback">
            <div *ngIf="f.nombreAsp.errors.required">nombre es un dato requerido</div>
            <div *ngIf="f.nombreAsp.errors.pattern"> el nombre debe contener solo letras</div>
          </div>
          <div *ngIf="f.nombreAsp.invalid && f.nombreAsp.touched" class="invalid-feedback">
            nombre incorrecto
          </div>
          <div *ngIf="f.nombreAsp.valid " class="valid-feedback">Success! You've done it.</div>
          <div [hidden]="f.nombreAsp.valid || f.nombreAsp.pristine" class="alert alert-danger">Su nombre es un dato requerido</div>
        </div>

        <div class="form-group col-lg-6">
          <label for="usuario" class="control-label required">Apellidos </label>
          <input type="text" formControlName="apellidoAsp" id="apellidos" class="form-control" aria-describedby="apellidosHelp" placeholder="Ingrese sus apellidos"  [ngClass]="{ 'is-invalid': submitted && f.apellidoAsp.errors }" >
          <small id="apellidosHelp" class="form-text text-muted">ejemplo: Pérez García</small>
          <div *ngIf="submitted && f.apellidoAsp.errors" class="invalid-feedback">
            <div *ngIf="f.apellidoAsp.errors.required">los apellidos son datos requeridos</div>
            <div *ngIf="f.apellidoAsp.errors.pattern"> los apellidos deben contener solo letras</div>
          </div>
        </div>   

        <div class="form-group col-lg-6">
            <label for="password">contraseña</label>
            <input type="password" formControlName="password" id="password" class="form-control" aria-describedby="passwordHelp" placeholder="minimo 7 caracteres de longitud" minlength="7" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
            <small id="passwordHelp" class="form-text text-muted">puede combinar caracteres, números y signos</small>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">la contraseña es un dato requerido</div>
              <div *ngIf="f.password.errors.minlength">la contraseña debe contener al menos 7 caracteres</div>
          </div>
        </div>
       
        <div class="form-group col-lg-6">
          <label for="DUI">DUI </label>
          <input type="text" formControlName="dui" id="dui" class="form-control" aria-describedby="duiHelp" placeholder="Ingrese su DUI utilizando unicamente números" [ngClass]="{ 'is-invalid': submitted && f.dui.errors }">
          <small id="passwordHelp" class="form-text text-muted">ejemplo: 052345098</small>
          <div *ngIf="submitted && f.dui.errors" class="invalid-feedback">
            <div *ngIf="f.dui.errors.required">DUI es un dato requerido</div>
          <div *ngIf="f.dui.errors.pattern">DUI debe contener 9 digitos</div>
        </div>
        </div>

        <div class="form-group col-lg-6">
          <label for="exampleSelect1">Género</label>
          <select class="form-control" id="exampleSelect1" type="text" formControlName="genero" aria-describedby="generoHelp" placeholder="Seleccione su Género" [ngClass]="{ 'is-invalid': submitted && f.genero.errors }">
            <option>Femenino</option>
            <option>Masculino</option>
          </select>
      <!--    <small id="passwordHelp" class="form-text text-muted">ejemplo: Femenino</small> -->
          <div *ngIf="submitted && f.genero.errors" class="invalid-feedback">
            <div *ngIf="f.genero.errors.required">el género es un dato requerido</div>
          </div>
        </div>
        
      <div class="form-group">
        <label for="fecha"> Fecha de nacimiento</label>
        <input type="date" formControlName="fechas_nac" id="fechaNacimiento" class="form-control" aria-describedby="fechaHelp" placeholder="Ingrese su fecha de nacimiento" [ngClass]="{ 'is-invalid': submitted && f.fechas_nac.errors }" >
        <small id="passwordHelp" class="form-text text-muted">ejemplo: 25/02/1990</small>
        <div *ngIf="submitted && f.fechas_nac.errors" class="invalid-feedback">
          <div *ngIf="f.fechas_nac.errors.required">la fecha de nacimiento es un dato requerido</div>
        </div>
    </div>

      <div class="form-group">
        <label for="fecha"> Teléfono fijo</label>
        <input class="form-control" formControlName="t_fijo" aria-describedby="t_fijoHelp" type="tel" id="tel t_fijo" placeholder="Ingrese su número de teléfono fijo" [ngClass]="{ 'is-invalid': submitted && f.t_fijo.errors }">
        <small id="passwordHelp" class="form-text text-muted"> ejemplo: 2232-1112</small>
        <div *ngIf="submitted && f.t_fijo.errors" class="invalid-feedback">
          <div *ngIf="f.t_fijo.errors.required">teléfono fijo es un dato requerido</div>
          <div *ngIf="f.t_fijo.errors.minlength">el teléfono fijo debe poseer </div>
          <div *ngIf="f.t_fijo.errors.pattern">el teléfono fijo debe poseer unicamente 8 digitos</div>
        </div>
    </div>
 
    <div class="form-group">
      <label for="fecha"> Teléfono Móvil</label>
      <input class="form-control" formControlName="t_movil" aria-describedby="emailHelp" type="tel" id="t_movil" placeholder="Ingrese su número de teléfono móvil"  [ngClass]="{ 'is-invalid': submitted && f.t_movil.errors }"  >
      <small id="passwordHelp" class="form-text text-muted">ejemplo: 7896-6789</small>
      <div *ngIf="submitted && f.t_movil.errors" class="invalid-feedback">
        <div *ngIf="f.t_movil.errors.required">teléfono móvil  is required</div>
        <div *ngIf="f.t_movil.errors.pattern">el teléfono móvil  debe poseer unicamente 8 digitos</div>
        <div *ngIf="f.t_movil.errors.minlength">el teléfono móvil debe poseer </div>
      </div>
    </div>
   
        <div class="form-group">
            <label for="email"> Correo electronico</label>
            <input type="email" formControlName="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo electronico"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <small id="passwordHelp" class="form-text text-muted">ejemplo: ejemplo@gmail.com</small>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">El correo electronico es un dato requerido</div>
              <div *ngIf="f.email.errors.email">la cuenta de email debe ser valida</div>
            </div>
        </div>

    <div class="form-group">
      <label for="usuario">Título de pregrado</label>
      <input type="text" formControlName="titulo_pre" id="tituloPregrado" class="form-control" aria-describedby="tituloPregradoHelp" placeholder="Ingrese su título de pregrado " [ngClass]="{ 'is-invalid': submitted && f.titulo_pre.errors }"  >
      <small id="tituloPregradoHelp" class="form-text text-muted">ejemplo: Licenciatura en Psicología</small>
      <div *ngIf="submitted && f.titulo_pre.errors" class="invalid-feedback">
        <div *ngIf="f.titulo_pre.errors.required">el título de pregrado es requerido</div>
        <div *ngIf="f.titulo_pre.errors.pattern">el título de pregrado debe poseer unicamente letras</div>
      </div>
    </div>

    <div class="form-group">
      <label for="usuario"> Institución que otorgo el título de pregrado</label>
      <input type="text" formControlName="institucion" id="institucionOtorgante" class="form-control" aria-describedby="institucionOtorganteHelp" placeholder="Ingrese la institución que otorgo el título" [ngClass]="{ 'is-invalid': submitted && f.institucion.errors }" >
      <div *ngIf="submitted && f.institucion.errors" class="invalid-feedback">
        <div *ngIf="f.institucion.errors.required">la institución es un dato requerido</div>
        <div *ngIf="f.institucion.errors.pattern">la institución de pregrado debe poseer unicamente letras</div>
      </div>
      <small id="institucionOtorganteHelp" class="form-text text-muted"></small>
    </div>
    
    <div class="form-group">
      <label for="fecha"> Fecha de expedición</label>
      <input type="date" formControlName="f_expedicion" id="fechaExpedicion" class="form-control" aria-describedby="fechaExpedicionHelp" placeholder="Fecha de expedición del título de pregrado" [ngClass]="{ 'is-invalid': submitted && f.f_expedicion.errors }" >
      <div *ngIf="submitted && f.f_expedicion.errors" class="invalid-feedback">
        <div *ngIf="f.f_expedicion.errors.required">la Fecha de expedición es un dato requerido</div>
      </div>
      <small id="fechaExpedicionHelp" class="form-text text-muted">ejemplo: 25/02/1990</small>
  </div>
    
  <div class="form-group">
    <label for="fecha"> Municipio </label>
    <input type="text" formControlName="municipio" id="municipio" class="form-control" aria-describedby="municipio" placeholder="Ingrese el Municipio donde reside" [ngClass]="{ 'is-invalid': submitted && f.municipio.errors }"  >
    <div *ngIf="submitted && f.municipio.errors" class="invalid-feedback">
      <div *ngIf="f.municipio.errors.required">el municipio es un dato requerido</div>
      <div *ngIf="f.municipio.errors.pattern">el municipio debe poseer unicamente letras</div>
    </div>
    <small id="municipioHelp" class="form-text text-muted">ejemplo: Mejicanos</small>
</div>
     
<div class="form-group">
  <label for="fecha"> Lugar de trabajo </label>
  <input type="text" formControlName="lugar_trab" id="lugarTrabajo" class="form-control" aria-describedby="lugarTrabajo" placeholder="Ingrese su Lugar de trabajo" [ngClass]="{ 'is-invalid': submitted && f.lugar_trab.errors }">
  <div *ngIf="submitted && f.lugar_trab.errors" class="invalid-feedback">
    <div *ngIf="f.lugar_trab.errors.required">el lugar de trabajo es un dato requerido</div>
    <div *ngIf="f.lugar_trab.errors.pattern">el lugar de trabajo debe poseer unicamente letras</div>
  </div>
  <small id="lugarTrabajoHelp" class="form-text text-muted">ejemplo: Siman</small>
</div>

<div class="form-group">
  <label for="fecha"> Programa al que aspira </label>
  <input type="text" formControlName="programa" id="programa" class="form-control" aria-describedby="programa" placeholder="Ingrese el Programa al que aspira" [ngClass]="{ 'is-invalid': submitted && f.programa.errors }">
  <div *ngIf="submitted && f.programa.errors" class="invalid-feedback">
    <div *ngIf="f.programa.errors.required">el programa al que aspira es un dato requerido</div>
    <div *ngIf="f.programa.errors.pattern">el programa al que aspira debe poseer unicamente letras</div>
  </div>
  <small id="programaHelp" class="form-text text-muted">ejemplo: Diplomado en Prevención Social de la Violencia y Cultura de Paz</small>
</div>
       

        <!--  <button type="submit" class="btn btn-info btn-lg btn-block" (click)="registrarUsuario()" >Registrarme</button> 
        <button type="submit" class="btn btn-info btn-lg btn-block" [disabled]="registerForm.invalid || loading">Registrarme</button> [disabled]="registerForm.invalid"-->
          <button type="submit"  class="btn btn-info btn-lg btn-block" >Registrarme</button>
        </form>
    
      </div>
    </div>
  </div> 
</div>


<!--
     </div>
  </div>
 </section>
</div>
-->