<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
         <h1 class="text-center"> FORMULARIO DE REGISTRO</h1>
      
       <form>  
         
       <div class="form-group">
          <label for="usuario"> Nombre de usuario</label>
          <input [(ngModel)]="register.username"  type="email" name="text" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre de usuario" required>
          <small id="emailHelp" class="form-text text-muted"></small>
       </div>  

        <div class="form-group">
            <label for="password"> contraseña</label>
            <input [(ngModel)]="register.password" type="password" name="password" id="password" class="form-control" aria-describedby="passwordHelp" placeholder="Ingrese su contraseña" required minlength="13">
            <small id="passwordHelp" class="form-text text-muted">puede combinar caracteres, números y signos</small>
        </div>
<!--
        <div class="form-group">
          <label for="password"> contraseña</label>
          <input [(ngModel)]="register.password" type="password" name="password" id="password" class="form-control" aria-describedby="passwordHelp" placeholder="Ingrese su contraseña" required minlength="13">
          <small id="passwordHelp" class="form-text text-muted">puede combinar caracteres, números y signos</small>
         </div>
-->         

       <div class="form-group">
          <label for="usuario"> Ingrese sus Nombres</label>
          <input [(ngModel)]="register.nombres"  type="text" name="nombres" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre de usuario" required>
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
          <label for="usuario"> Ingrese sus apellidos </label>
          <input [(ngModel)]="register.apellidos"  type="text" name="apellidos" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre de usuario" required>
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>     
      
        <div class="form-group">
            <label for="email"> Correo electronico</label>
            <input [(ngModel)]="register.email" type="email" name="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo electronico" required>
            <small id="passwordHelp" class="form-text text-muted">ejemplo: ejemplo@gmail.com</small>
        </div>

        <div class="form-group">
          <label for="DUI">DUI </label>
          <input [(ngModel)]="register.dui" type="text" name="dui" id="dui" class="form-control" aria-describedby="duiHelp" placeholder="Ingrese su DUI" required>
          <small id="passwordHelp" class="form-text text-muted">Ingrese su número de DUI utilizando - y números</small>
      </div>

      <div class="form-group">
        <label for="fecha"> Fecha de nacimiento</label>
        <input [(ngModel)]="register.fechaNacimiento" type="date" name="fecha" id="fechaNacimiento" class="form-control" aria-describedby="fechaHelp" placeholder="Ingrese su fecha de nacimiento" required>
        <small id="passwordHelp" class="form-text text-muted">ejemplo: 25/02/1990</small>
    </div>

      <div class="form-group">
        <label for="fecha"> Teléfono fijo</label>
        <input  [(ngModel)]="register.telefonoFijo"  class="form-control" aria-describedby="emailHelp" type="tel" id="phone" name="phone" placeholder="2232-1112" pattern="[0-9]{3}-[0-9]{3}" required >
        <small id="passwordHelp" class="form-text text-muted"></small>
    </div>
 
    <div class="form-group">
      <label for="fecha"> Teléfono Móvil</label>
      <input  [(ngModel)]="register.telefonoMovil"  class="form-control" aria-describedby="emailHelp" type="tel" id="phone" name="phone" placeholder="7896-6789" pattern="[0-9]{3}-[0-9]{3}" required >
      <small id="passwordHelp" class="form-text text-muted"></small>
    </div>
  
    <div class="form-group">
      <label for="usuario"> Ingrese su título de pregrado</label>
      <input [(ngModel)]="register.tituloPregrado"  type="text" name="nombres" id="tituloPregrado" class="form-control" aria-describedby="tituloPregradoHelp" placeholder="ejemplo: Licenciatura en Psicología" required>
      <small id="tituloPregradoHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="usuario"> Ingrese la institución que otorgo el título de pregrado</label>
      <input [(ngModel)]="register.institucionOtorgante"  type="text" name="institucionOtorgante" id="institucionOtorgante" class="form-control" aria-describedby="institucionOtorganteHelp" placeholder="" required>
      <small id="institucionOtorganteHelp" class="form-text text-muted"></small>
    </div>
    
    <div class="form-group">
      <label for="fecha"> Fecha de expedición</label>
      <input [(ngModel)]="register.fechaExpedicion" type="date" name="fechaExpedicion" id="fechaExpedicion" class="form-control" aria-describedby="fechaExpedicionHelp" placeholder="21/06/2009" required>
      <small id="fechaExpedicionHelp" class="form-text text-muted">ejemplo: 25/02/1990</small>
  </div>
    
       
         
        <!--
        <div class="form-group">
          <label for="exampleSelect1">Genero</label>
          <select class="form-control" id="exampleSelect1">
            <option>Femenino</option>
            <option>Masculino</option>
          </select>
        </div>-->

          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="registrarUsuario()" >Registrarme</button>
        
      </form>
      </div>
    </div>
  </div>
</div>