
  <div *ngIf="isCodeCorrect; else seguir">
 <!--   <a class="nav-link" href="/registrar-usuario">Regístrate</a> -->
  </div>

<ng-template #seguir>

  <div class="jumbotron">
        <div class="container card">
            <div class="row mt-5 mb-5">
                <div class="col-md-6 offset-md-3">
                    <h2 type= "text-center">Ingrese el código de aspirante:</h2>
                    <form [formGroup]="myForm" (ngSubmit)="validarCodigo()" >
                        <div class="form-group">
                            <input type="text" formControlName="codigo" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" />
                            <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
                                <div *ngIf="f.codigo.errors.pattern">code must be valid</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="myForm.invalid" class="btn btn-info btn-lg btn-block">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--  (click)="validarCodigo()" -->